<div class="ventana">
    <h1>Tabla de Partidos</h1>
    <app-tabpartidos></app-tabpartidos>
    <div class="logos">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK5NyaUWLL4-sz7sFFZ7-56oPz6AqNRLPM5Q&s"
            alt="Logo Barcelona"
        />
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt2Clvv-flwEiq6PieGqzy3-bPvJH9O5Q67g&s"
            alt="Logo Real Madrid"
        />
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxz-JEXZ9Vk-VqZYUq_qFpF6sbNDe3pSIByw&s"
            alt="Logo Atlético Madrid"
        />
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPS1T9f6ni_qcv_7Jir6B7qz2bEVQr1OcTdw&s"
            alt="Logo Valencia"
        />
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8H2Y3iQ-V3Ri2yNuF-3TKigXDJ1d2vQVOSw&s"
            alt="Logo Sevilla"
        />
    </div>
</div>
