<table mat-table [dataSource]="getPartidosOrdenados()" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let partido">{{ partido.id }}</td>
    </ng-container>

    <ng-container matColumnDef="equipo1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let partido" class="equipo1-cell">
            <img
                [src]="partido.escudo1"
                alt="{{ partido.nombreEq1 }}"
                class="escudo izquierda"
            />
            {{ partido.nombreEq1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="puntaje">
        <th mat-header-cell *matHeaderCellDef>Puntaje</th>
        <td mat-cell *matCellDef="let partido">
            {{ partido.puntaje1 }} - {{ partido.puntaje2 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="equipo2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let partido" class="equipo2-cell">
            <span>{{ partido.nombreEq2 }}</span>
            <img
                [src]="partido.escudo2"
                alt="{{ partido.nombreEq2 }}"
                class="escudo derecha"
            />
        </td>
    </ng-container>
    <ng-container matColumnDef="estadio">
        <th mat-header-cell *matHeaderCellDef>Estadio</th>
        <td mat-cell *matCellDef="let partido">
            {{ partido.estadio }}
        </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let partido">{{ partido.fecha }}</td>
    </ng-container>

    <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let partido">{{ partido.hora }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>