:host {
    display: flex;
    flex-direction: column;
    height: 100vh; // Asegura que el componente ocupe toda la altura de la ventana
  }
  
  mat-sidenav-container {
    flex: 1;
    display: flex;
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px; // Ajusta el tamaño horizontal según sea necesario
    display: flex;
    flex-direction: column;
    height: 100%; // Asegura que el sidenav ocupe toda la altura disponible
  }
  
  mat-toolbar {
    flex: 0 0 auto; // Mantiene el tamaño del toolbar fijo
  }
  
  mat-list {
    flex: 1 1 auto; // Permite que la lista ocupe el espacio disponible
    overflow-y: auto; // Añade scroll vertical si el contenido es demasiado grande
  }
  
  button.mat-raised-button {
    flex: 0 0 auto; // Mantiene el tamaño del botón fijo
    margin: 10px; // Añade un margen para separar el botón del contenido
  }
  
  mat-list-item {
    display: flex;
    justify-content: space-between; // Alinea el texto y el botón de eliminar
    align-items: center;
  }
/*button[mat-fab][extended] {
    background-color: #ffffff00; // Customize the background color
    color: #000000; // Customize the text color
    font-size: 14px; // Customize the font size
    padding: 0 24px; // Customize the padding
    border-radius: 50px; // Customize the border radius
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Customize the box shadow
    width: 100px; // Customize the width
    height: 40px; // Customize the height
    border: 1px solid #00000071; // Customize the border color

    &:hover {
        background-color: #D4EED1; // Customize the hover background color
    }

    &:active {
        background-color: #a2e69a; // Customize the active background color
    }

    &:disabled {
        background-color: #bdbdbd; // Customize the disabled background color
        color: #757575; // Customize the disabled text color
    }
}*/